In [1]:
# Import dependencies

import pandas as pd

import gmaps

import requests

# Import the API key.

from config import g_key

In [2]:
# Store the CSV you created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yellowknife,CA,2022-09-21 18:45:45,62.4560,-114.3525,55.92,71,75,16.11
1,1,Puerto Ayora,EC,2022-09-21 18:45:46,-0.7393,-90.3518,76.96,87,92,11.01
2,2,Jalu,LY,2022-09-21 18:45:46,29.0331,21.5482,92.91,13,5,7.76
3,3,Bengkulu,ID,2022-09-21 18:41:24,-3.8004,102.2655,74.48,90,44,3.02
4,4,Punta Arenas,CL,2022-09-21 18:42:37,-53.1500,-70.9167,53.62,62,0,13.80

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key = g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.

locations = city_data_df[["Lat", "Lng"]]
# 2 Assign the weights variable to some values.

max_temp = city_data_df["Max Temp"]

# 3 Assign the figure variable to the gmaps.figure() attribute

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# 4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)

# 5 Add the heatmap layer.

fig.add_layer(heat_layer)

# 6 Call the figure to plot the daga

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 1. Assign the locations to an array of latitude and longitude pairs.

locations = city_data_df[["Lat", "Lng"]]
# 2 Assign the weights variable to some values.

humidity = city_data_df["Humidity"]

# 3 Assign the figure variable to the gmaps.figure() attribute

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# 4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)

# 5 Add the heatmap layer.

fig.add_layer(heat_layer)

# 6 Call the figure to plot the daga

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 1. Assign the locations to an array of latitude and longitude pairs.

locations = city_data_df[["Lat", "Lng"]]
# 2 Assign the weights variable to some values.

clouds = city_data_df["Cloudiness"]

# 3 Assign the figure variable to the gmaps.figure() attribute

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# 4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 4)

# 5 Add the heatmap layer.

fig.add_layer(heat_layer)

# 6 Call the figure to plot the daga

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 1. Assign the locations to an array of latitude and longitude pairs.

locations = city_data_df[["Lat", "Lng"]]
# 2 Assign the weights variable to some values.

wind = city_data_df["Wind Speed"]

# 3 Assign the figure variable to the gmaps.figure() attribute

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# 4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius = 4)

# 5 Add the heatmap layer.

fig.add_layer(heat_layer)

# 6 Call the figure to plot the daga

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip?"))

max_temp = float(input("What is the maximum temperature you would like for your tripe?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your tripe?90

In [19]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Puerto Ayora,EC,2022-09-21 18:45:46,-0.7393,-90.3518,76.96,87,92,11.01
5,5,Carutapera,BR,2022-09-21 18:45:47,-1.1950,-46.0200,85.68,58,23,10.56
7,7,Praia,CV,2022-09-21 18:44:16,14.9215,-23.5087,82.94,65,75,16.11
8,8,Jamestown,US,2022-09-21 18:45:48,42.0970,-79.2353,78.39,73,75,8.05
11,11,Albany,US,2022-09-21 18:43:38,42.6001,-73.9662,77.23,68,10,4.34
15,15,Aloleng,PH,2022-09-21 18:45:50,16.1307,119.7824,79.99,76,100,2.66
16,16,Dibulla,CO,2022-09-21 18:45:51,11.2725,-73.3091,84.47,70,98,6.29
18,18,San Cristobal,VE,2022-09-21 18:45:51,7.7669,-72.2250,80.78,58,72,1.01
23,23,Dicabisagan,PH,2022-09-21 18:45:53,17.0818,122.4157,77.36,89,100,3.89
31,31,Kapaa,US,2022-09-21 18:45:56,22.0752,-159.3190,82.09,76,40,10.36

In [22]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1    Puerto Ayora      EC     76.96  -0.7393  -90.3518
5      Carutapera      BR     85.68  -1.1950  -46.0200
7           Praia      CV     82.94  14.9215  -23.5087
8       Jamestown      US     78.39  42.0970  -79.2353
11         Albany      US     77.23  42.6001  -73.9662
15        Aloleng      PH     79.99  16.1307  119.7824
16        Dibulla      CO     84.47  11.2725  -73.3091
18  San Cristobal      VE     80.78   7.7669  -72.2250
23    Dicabisagan      PH     77.36  17.0818  122.4157
31          Kapaa      US     82.09  22.0752 -159.3190

In [24]:
# Set parameters to search for a hotel.

params = {
    
    "radius": 5000,
    
    "type": "lodging",
    
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params = params).json()
    
    # Grab the first hotel from the results and store the name.
    
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
# Grab the first hotel from the results and store the name.

    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Carutapera,BR,85.68,-1.1950,-46.0200,Lidera
7,Praia,CV,82.94,14.9215,-23.5087,LT Aparthotel
8,Jamestown,US,78.39,42.0970,-79.2353,Hampton Inn & Suites Jamestown
11,Albany,US,77.23,42.6001,-73.9662,
15,Aloleng,PH,79.99,16.1307,119.7824,Steve Walden and Emma Sison-Walden Residence
16,Dibulla,CO,84.47,11.2725,-73.3091,Hospedaje Dibulla Beach
18,San Cristobal,VE,80.78,7.7669,-72.2250,Pirineos
23,Dicabisagan,PH,77.36,17.0818,122.4157,Nancy Montanes Bernardo
31,Kapaa,US,82.09,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [40]:
# 1. Assign the locations to an array of latitude and longitude pairs.

locations = hotel_df[["Lat", "Lng"]]
# 2 Assign the weights variable to some values.

max_temp = hotel_df["Max Temp"]

# 3 Assign the figure variable to the gmaps.figure() attribute

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# 4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights =max_temp, dissipating = False, 
             
                                 max_intensity = 300, point_radius = 4)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# 5 Add the heatmap layer and marker layer.

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# 6 Call the figure to plot the daga

fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

In [39]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]